@media screen and (max-width:480px) {
    h4{
        font-size: x-large;
    }

    h5 {
        font-size: large;
    }

    p, li{
        font-size: small;
    }

    main {
        margin-right: 6%;
        margin-left: 8%;
    }

    .mdl-layout__header-row {
        padding: 0 0 0 10%
    }

    .mdl-layout__content {
        overflow-y: visible;
        overflow-x: visible;
    }
}

@media screen and (min-width:480px) {
    main {
        margin-right: 10%;
        margin-left: 10%;
    }

    .mdl-layout__content {
        overflow-y: visible;
        overflow-x: visible;
    }
}
